<form
  class="ui stacked inverted gray segment form"
  action="/notelist/{{notelist.id}}/addnote"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="three fields">
    <div class="field">
      <label>Title</label>
      <input
        type="text"
        name="title"
        autofocus
        required
        title="Please include a valid Title"
        placeholder="Assingment01"
      />
    </div>
    <div class="field">
      <label>Due Date</label>
      <input
        type="date"
        name="dueDate"
        required
      />
    </div>
<!--     https://www.w3schools.com/tags/att_input_type_date.asp
 -->
    
    <div class="field">
    <label>Image Reminder</label>
    <input placeholder="Image Reminder" type="file" name="image" required>
    </div>
    <div class="field">
  <label>Note</label>
  <textarea 
    name="note"
    id="note"
    required
    title="Please include a valid note"
    placeholder="Insert css into web app"
    rows="5" 
    cols="50">
  </textarea>
</div>


  </div>
  <button class="ui gray submit button">Add Note</button>
</form>