<section class="ui  segment gray inverted stackable">
  <div class="ui six wide column">
    <div class="ui row column">
      <h1 class="ui inverted header">{{TitleOfBlog}}</h1>
      <div class="ui divider"></div>
      <p>{{Text1}}</p>
      <p>{{Text2}}</p>
    </div>

    <div class="ui row  ten wide column">
      <div class="ui large image" >
      <img src="{{Image}}" />
    </div>
    </div>

    
  </div>
</section>