<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>user</th>
      <th>comments</th>
    </tr>
  </thead>
  <tbody>
    {{#each comments}}
      <tr>
        <td>
          {{comment}}
        </td>
        <td>
         he
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
