    <footer class="ui ui inverted footer  segment">

        <section class="ui three column grid stackable ">

            <div class="ui row">
                <div class="ui column">
                    <p>Thank you for visting the Note Keeper App</p>
                </div>
                <div class="ui  column">
                   
                </div>

            </div>

            <div class="ui row ">
                <div class="ui column">
                    <h3>Data Procetion</h3>
                    <p>We collect, process and store personal data (including IP addresses) only as permitted by law or if you have given your consent, for example when registering for an event or a service.</p>
                </div>
                <div class="ui  column center aligned">
                    
                </div>

                <div class="ui   column right aligned">
                    <button class="ui circular facebook large black inverted icon button">
                        <i class="facebook icon"></i>
                    </button>
                    <button class="ui circular twitter large  black inverted icon button">
                        <i class="twitter icon"></i>
                    </button>
                    <button class="ui circular linkedin large  black inverted icon button">
                        <i class="linkedin icon"></i>
                    </button>
                    <button class="ui circular google plus large  black inverted icon button">
                        <i class="google plus icon"></i>
                    </button>
                </div>

            </div>

            <div class="ui row">
                <div class="ui sixteen wide column center aligned">
                    <p>&copy; Seán Conroy 2023</p>
                </div>
            </div>

        </section>
    </footer>