<nav class="ui inverted menu">
  <header class="ui header item"> <a href="/start"> Note Keeper</a>
   <div class="item">
    <img src="https://cdn.glitch.global/7a6aee71-7259-46fe-b58f-b60891ace950/79a1a9fb-f4cb-495b-99cf-97eb8d24e974.image.png?v=1678188906814">
  </div>
  </header>
  <div class="right menu">
    <span class="name">{{fullname}}</span>
    <span class="profilepic"><img src="{{profile}}" class="ui tiny avatar image"></span>
    <a id="dashboard" class="item" href="/dashboard"> Dashboard </a>
    <a id="blog" class="item" href="/blog"> Blog </a>
    <a id="about" class="item" href="/about"> About </a>
   </div>
    <div class="left menu">
       <a id="logout" class="item" href="/logout"> Logout </a>
       <a id="settings" class="item" href="/settings"> settings </a>
  </div>
   

</nav>


<script>
   document.querySelector("#{{id}}").classList.add("active");
</script>