<div class="ui big buttons">
  <button id="b1" class="ui gray button">
    What To Come?
    <i class="arrow circle right icon"></i>
  </button>

  <button id="b2" class="ui black button">
    Like it?
    <i class="thumbs up icon"></i>
  </button>
</div>

<div id="tocome" class="ui message">
  <p>
    In the upcoming weeks, Note Keeper will be upgraded to version 3, which will
    include the additional functionality of allowing users to create accounts
    and log in. Our dedicated team of developers is currently working diligently
    on this project, and we encourage you to stay tuned for further updates.
  </p>
</div>