<h3 class="ui  center aligned header">The Note Keeper App now contains:</h3>
<div class="ui inverted two statistics">
    <div class="ui huge statistic">
        <div class="value">
            {{totalnotelist}}
        </div>
        <div class="label">
            Note Lists
        </div>
    </div>
    <div class="ui huge statistic">
        <div class="value">
            {{totalnotes}}
        </div>
        <div class="label">
            Note's
        </div>
    </div>
</div>
    