<section class="ui grid opaque segment inverted aligned middle aligned">

  <div class="ui seven wide column">
    <table class="ui fixed inverted rounded black table">
      <h2 class="centerd">
        Contact Us
      </h2>
      <hr>

      <tbody>
        <tr>
          <td class="Large phone volume icon" ><i class="Large phone volume icon"></i> Phone: </td>
          <td>
            <a href="tel:0539325675">053-932-5675</a>
          </td>
        </tr>

        <tr>
          <td> <i class="Large envelope icon"></i> E-mail:</td>
          <td>
            <a href="mailto:info@notekeeper.com">info@notekeeper.com</a>
          </td>
        </tr>

        <tr>
          <td> <i class="Large linkedin icon"></i> Linkedin:</td>
          <td>
            <a href="https://www.linkedin.com/" target="_blank"> noteKeeper</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="ui nine wide column">
    <iframe
      class="fluid center-align rounded image"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.859495389501!2d-7.140728783804641!3d52.24593567976322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4842c509ed0c5383%3A0x7867c02b440b9b2f!2sGrowth%20Hub!5e0!3m2!1sen!2sie!4v1678221049234!5m2!1sen!2sie"
      width="600"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

</section>