{{> menu id="about"}}

<div class="ui container">
  
  <section class="ui grid opaque segment inverted aligned middle aligned">

  <div class="ui seven wide column">
    
      <h2 class="centerd">
       What do we do ?
      </h2>
      <hr>
    <p>
      NoteKeeper is a productivity app launched in 2020 by tech entrepreneur Eliza Conroy. As a busy professional herself, Eliza recognized the need for a simple yet powerful tool to help people stay organized and on track with their tasks and projects.
    </p>

    <p>
      With its intuitive design and powerful features, NoteKeeper has quickly become a favorite among professionals, students, and anyone looking to get more done in less time. From to-do lists and project management to note-taking and idea organization, NoteKeeper has everything you need to stay productive and focused.
    </p>

    <p>
      But NoteKeeper isn't just about productivity – it's also about simplicity and ease of use. That's why Eliza and her team have worked hard to make sure that NoteKeeper is as user-friendly as it is powerful. Whether you're a tech novice or a seasoned pro, you'll find that NoteKeeper is easy to use and customize to your unique needs.
    </p>
   
    <p>
      So if you're looking for a better way to stay organized and get things done, give NoteKeeper a try. With its powerful features, intuitive design, and commitment to simplicity, it just might be the productivity app you've been looking for.
    </p>
  </div>

  <div class="ui nine wide column">
    <img class="ui circular image" src="https://cdn.glitch.global/7a6aee71-7259-46fe-b58f-b60891ace950/Headshot-on-Black-Background_1.jpg.webp?v=1679161811921">
  </div>
  
  

  
<section class="ui container opaque segment inverted aligned middle aligned ">
  <h2 class="ui centered"> Meet the Team?</h2>
  <hr>
<div class="ui inverted black centered  cards">
    {{#each teamList}}
      {{> teamListCard}}
    {{/ each}}
  </div>
  <br>
</section>

{{>whereWeBased}}
  
</section>
</div>
{{> footer}}


  
  



