{{> menu id="blog"}}
<section class=" ui container">

  <div class="ui centered ">
    {{#each bloglists}}
      {{> blogPost}}
      {{> comments}}
      {{> addcomment}}
    {{/ each}}
  </div>
</section>

{{> footer}}
