{{> welcomemenu }}



    <div class="ui opaque inverted vertical center aligned segment">
      <div class="ui content container">
        <h1 class="ui  inverted header">Welcome to Note Keeper</h1>
        <div class="ui grey huge button" onclick="location.href='/login'">login</div>
        <div class="ui grey huge button" onclick="location.href='/signup'">signup</div>
      </div>
    </div>
    
  {{> footer }}

