{{> menu}}


<!-- //https://semantic-ui-forest.com/templates -->
<div class ui container>
  <div class="ui inverted vertical center aligned segment opaque">
    
      <div class="ui content container">
        <h1 class="ui inverted header">What is Note Keeper ?</h1>
        <p id="welcomeusernotekeeperNOUSER">
          Hello, {{fullname}} , 
          this app is designed to make note-taking quick, easy, and hassle-free. With a simple and intuitive interface, you can create, edit, and organize notes in seconds. 
          {{fullname}} your preoductivity will now greatly increase as a result of utilizing Note Keeper App.</p>
        <div id="welcomeusernotekeeper"> </div>
        
     {{>startButtons}}
       
    </div>
      {{>StatStart}}

<br>
<br>
  <div id="imagesStart" class="ui divided  circular  small images">
  <img class="ui image" src="https://cdn.glitch.global/7a6aee71-7259-46fe-b58f-b60891ace950/pencil-writing.gif?v=1679148552559">
  <img class="ui image" src="https://cdn.glitch.global/7a6aee71-7259-46fe-b58f-b60891ace950/V1.png?v=1679148919633">
  <img class="ui image" src="https://cdn.glitch.global/7a6aee71-7259-46fe-b58f-b60891ace950/pencil-writing.gif?v=1679148552559">
  </div>
</div>
  
</div>
<br>

  
  
{{>footer}}