{{> menu}}
<div class ui container>
  <div class="ui inverted vertical center aligned segment opaque">
    
      <div class="ui content container">
        <h1 class="ui inverted header">What is Note Keeper ?</h1>
        <p>
          Our app is designed to make note-taking quick, easy, 
          and hassle-free. With a simple and intuitive interface, 
          you can create, edit, and organize notes in seconds.
        </p>
        <div class="ui big buttons">
              <button class="ui gray button">
                Read more <i class="arrow circle right icon"></i>
              </button>
              <button class="ui black button">
                Like it? <i class="thumbs up icon"></i>
              </button>
              <button class="ui gray button">
                Who are you? <i class="user icon"></i>
              </button>
            </div>
          <div id="readmore" class="ui message">
      </div>
    
       
    </div>
    
    


  <div id="imagesStart" class="ui divided  circular  small images">
  <img class="ui image" src="https://cdn.glitch.com/a2a19cc8-fcc4-4bb5-95be-95a3dfc18178%2Fdirtycomputer.jpg?v=1578912435355">
  <img class="ui image" src="https://cdn.glitch.com/a2a19cc8-fcc4-4bb5-95be-95a3dfc18178%2Fdirtycomputer.jpg?v=1578912435355">
  <img class="ui image" src="https://cdn.glitch.com/a2a19cc8-fcc4-4bb5-95be-95a3dfc18178%2Fdirtycomputer.jpg?v=1578912435355">
  </div>
</div>
  
</div>
<br>

  
  
{{>footer}}