/* CSS files add styling rules to your content */

body {
  font-family: Helvetica Neue, arial, sans-serif;

  background: url("https://cdn.glitch.global/7a6aee71-7259-46fe-b58f-b60891ace950/Abstract%20background1.jpg?v=1678328845104")
    no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-style: italic;

}

.centerds {
display: flex; 
justify-content: center; 
align-items: center;
  
}


.profilepic{
  padding-top:15px;
  padding-right:2px;
  line-height:20px;
  font-weight:bold;
}
.name
{
   font-size: 110%;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  padding-top:10%;
  padding-right:20px;

}

#bottom
{
 top: 0;
 margin-top: -10%;
  
}





#iconNotes {
  float: right;
  margin-top: -5.5rem;
}

#author
{
 margin-top: -3%;
 float: right;
 opacity: 0.7;
 font-weight: 400;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

p,a
{
  font-size: 110%;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Button and messages */
#tocome {
  display: none;
}

#imagesStart {
  margin-top: 420px;
  display: block;
}

#welcomeusernotekeeper {
  display: none;
}
#welcomeusernotekeeperNOUSER {
  display: block;
}




/* Template for the start page css  https://semantic-ui-forest.com/templates */
start { 
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

nav.ui.container .ui.header {
  float: left;
  margin-top: 12px;
}

nav.ui.container .ui.inverted.compact.menu {
  float: right;
}

.ui.inverted.vertical.center.aligned.segment {
  padding-top: 36px;
}

.ui.inverted.vertical.segment {
  height: 100vh;
  background-color: rgb(51, 51, 51);
}

.ui.content.container {
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ui.content.container h1.header {
  font-size: 36px;
}

.ui.content.container p {
  font-size: 21px;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui.inverted.vertical.segment footer.ui.segment {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: gray;
}

.ui.inverted.vertical.segment footer.ui.segment a {
  color: white;
}

.opaque {
  opacity: 0.7;
}

